%script{'src'=> "http://maps.googleapis.com/maps/api/js?sensor=false"}
=content_for :javascript_includes do
  =javascript_include_tag '/assets/optional/google.util.maps.js'
  =javascript_include_tag '/assets/optional/google.form.maps.js'


= simple_form_for [:admin, @club], :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = f.hidden_field :coords
  = f.input :name
  = f.association :department
  = f.input :address
  = f.input :phone_number
  .control-group
    %label.control-label 
      Tipos de Canchas
    .controls
      %label.checkbox.inline
        = check_box_tag 'club[courts_types][]', 'futbol', false, 'id' => 'checkbox-futbol', :class => 'checkbox-canchas', :checked => @club.has_futbol_courts? 
        Futbol
      %label.checkbox.inline  
        = check_box_tag 'club[courts_types][]', 'tenis', false, 'id' => 'checkbox-tenis', :class => 'checkbox-canchas', :checked => @club.has_tenis_courts? 
        Tennis
      %label.checkbox.inline
        = check_box_tag 'club[courts_types][]', 'paddle', false, 'id' => 'checkbox-paddle', :class => 'checkbox-canchas', :checked => @club.has_paddle_courts? 
        Paddle
  =f.input :futbol_quantity, :label => 'Cant. Canchas futbol', :as => :numeric, :wrapper_html => hide_futbol_quantity?(@club)
  =f.input :tenis_quantity, :label => 'Cant. Canchas tenis', :as => :numeric, :wrapper_html => hide_tenis_quantity?(@club)
  =f.input :paddle_quantity, :label => 'Cant. Canchas paddle', :as => :numeric, :wrapper_html => hide_paddle_quantity?(@club)

  %h2 
    Ubicación
  %hr  

  .control-group
    %label.control-label 
      
    .controls
      .alert.alert-info.hidden.found
        En el mapa se encuentra marcada la direccion tipeada
        %br
        Si no concuerda con la direccion real, puedes marcar la nueva direccion libremente
        %br
        Esto <strong> no </strong> modificara la direccion ingresada previamente  
      .alert.alert-error.hidden.not-found
        No hemos podido localizar en el mapa la direccion ingresada
        %br
        Por favor selecciona manualmente su ubicacion  
  .control-group
    %label.control-label 
    
    .controls
      #map_canvas{:style => "width:550px; height:400px"}


  
  





  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to('Photos', admin_upload_path(@club.id), :class => 'btn btn-primary') if @club.persisted?
    = link_to t('.cancel', :default => t("helpers.links.cancel")),admin_clubs_path, :class => 'btn'



