

= simple_form_for [:admin, @club], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.association :department
  = f.input :address
  = f.input :phone_number
  = f.input :courts_types, :collection => ['futbol', 'tenis', 'paddle'], :as => 'check_boxes'
  = f.input :futbol_quantity, :label => 'Cant. Canchas futbol', :as => :numeric, :wrapper_html => { :class => 'hidden' }
  = f.input :tenis_quantity, :label => 'Cant. Canchas tenis', :as => :numeric, :wrapper_html => { :class => 'hidden' }
  = f.input :paddle_quantity, :label => 'Cant. Canchas paddle', :as => :numeric, :wrapper_html => { :class => 'hidden' }





  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_clubs_path, :class => 'btn'



