
- model_class = @club.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @club.name
%p
  %strong= model_class.human_attribute_name(:department_id) + ':'
  %br
  = @club.department_id
%p
  %strong= model_class.human_attribute_name(:address) + ':'
  %br
  = @club.address
%p
  %strong= model_class.human_attribute_name(:phone_number) + ':'
  %br
  = @club.phone_number
%p
  %strong= 'Futbol Courts' + ':'
  %br
  = @club.futbol_quantity
%p
  %strong= 'Tenis Courts' + ':'
  %br
  = @club.tenis_quantity
%p
  %strong= 'Paddle Courts' + ':'
  %br
  = @club.paddle_quantity

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), admin_clubs_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_club_path(@club), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_club_path(@club), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
